@font-face {
    font-family: 'Antonio'; 
    src: url('/fonts/antonio/Antonio-Regular.ttf');
}
@font-face {
    font-family: 'Patua'; 
    src: url('/fonts/patua-one/PatuaOne-Regular.otf');
}
.container,
.book-container,
.book {
    transform-style: preserve-3d;
    position: absolute;
}

.spinetext {
  overflow: hidden;
  text-align: center;
  writing-mode: vertical-rl;
}

.spinetext .title {
  font-family: Patua;
  overflow: hidden;
}

.spinetext .author {
  font-family: Antonio;
}

.spine .series-index {
  text-align: center;
  width: 100%;
  height: 20px;
  vertical-align: middle;
  font-size: 10px;
  line-height: 20px;
}

.cover {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.back {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 8px;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
}

.logo {
  width: 100%;
}
