@font-face {
    font-family: 'Antonio'; 
    src: url('/fonts/antonio/Antonio-Regular.ttf');
}

@font-face {
    font-family: 'Patua'; 
    src: url('/fonts/patua-one/PatuaOne-Regular.otf');
}

.container,
.book-container,
.book {
    transform-style: preserve-3d;
    position: absolute;
}

.spine {
  overflow: hidden;
  text-align: center;
  writing-mode: vertical-rl;
}

.spine .title,
.spine .title-series {
  font-family: Patua;
}

.spine .author,
.spine .author-series {
  font-family: Antonio;
}

.cover {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.back {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 8px;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
}
